<header class="h-16 w-full bg-color4 flex justify-between items-center">
    <!-- logo -->
    <div class="mb-1 flex items-center ">
        <img class=" mx-1" src="assets/images/education.svg">
        <h2 class="text-color1 text-2xl font-semibold italic pt-2">BookTime</h2>
    </div>
    <div class="p-1 mx-2 flex items-center">
        <img class=" mx-1" src="assets/images/loop.svg">
        <input class="h-6 p-2 rounded-lg focus:outline-none focus:scale-105 transition duration-300 "
            placeholder="Search Books..." type="text">

    </div>
</header>